[default]
debug = True

[sshd]
port = 2200
listen =
key = test_rsa.key

[controller]
address = ipc:///tmp/4am-controller0

[remoteexecd]
address = ipc:///tmp/remoteexecd0

[database]
ip = dev2.sx4it.com
## The database port, usally 3306 for mysql and 5432 for Postgres
port = 42162
## postgresql or mysql
driver = mysql
## Database name
name = sx4it
## name of a user with rights on the database
user = root
pass = root

